.Top
  display: flex
  border-bottom: 1px solid #fff
  padding: 10px 0 0

.PresenceIcon
  margin: 0 10px 5px

.Bottom
  padding: 0.5rem 20px

.IP, .Owner, .LastHandshakeTime
  display: flex
  margin-top: 0.5rem

.PeerDetailIcon
  margin-right: 1rem

.Peer
  &.online
    opacity: 1
  &.offline
    opacity: 0.2
